.page-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 15px;
}

.cards-container-1 {
  flex: 1 1 30%;
  background: black;
  color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.cards-container-1.collapsed {
  max-height: 380px;
}

.cards-container-1.expanded {
  max-height: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  height: 90%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  overflow-y: auto;
}

.modal-content .account-card {
  margin-left: 225px;
}

.modal-content h2 {
  margin-left: 235px;
}

.modal-content .card-details {
  display: block;
  margin: 0 auto;
}

.close-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #ff1a1a;
}

.expand-button {
  background-color: rgba(135, 6, 250, 0.3);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.expand-button:hover {
  background-color: rgba(135, 6, 250, 0.6);
}

.cards-container-1,
.cards-container-2,
.cards-container-3 {
  flex: 1 1 28%;
  margin-left: 5px;
  color: white;
  border-radius: 10px;
  background: black;
  max-height: 380px;
}

.cards-container-3 {
  margin-right: 10px;
}

.cards-container-4 {
  flex: 0 0 97.7%;
  margin: 10px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-height: 380px;
}

.cards-container h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.prvi {
  background-color: #171717;
  padding-top: 5px;
  padding-bottom: 600px;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.filter-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}

.date-group {
  width: 100%;
  max-width: 800px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-header {
  font-size: 1.5rem;
  color: #ffffff79;
  border-bottom: 2px solid #ffffff1c;
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.account-card {
  margin-top: 5px;
  background: rgb(29, 37, 61);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  color: rgb(250, 250, 250);
  font-weight: bold;
  width: 300px;
  transition: box-shadow 0.3s;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header h2 {
  margin: 0;
  color: rgb(252, 82, 149);
}

.total-amount {
  font-weight: bold;
  color: #17d5d8;
}

.card-subtitle {
  color: rgb(75, 96, 218);
}

.store-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-details {
  display: none;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
}

li p {
  margin: 0;
}

@media (max-width: 1200px) {
  .page-container {
    padding: 10px;
  }

  .account-card {
    width: 250px;
  }
}

@media (max-width: 992px) {
  .page-container {
    padding: 10px;
  }

  .account-card {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .filter-input {
    max-width: 100%;
    font-size: 14px;
  }

  .cards-container {
    padding: 20px 10px;
  }

  .account-card {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .filter-input {
    font-size: 12px;
  }

  .cards-container {
    padding: 10px;
  }

  .account-card {
    width: 100%;
  }

  .navbar {
    background-color: transparent;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-link {
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 15px;
    position: relative;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-link:hover::before {
    opacity: 1;
  }

  .chart-container {
    position: relative;
    max-width: 70%;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .filter-input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    font-size: 16px;
    margin-left: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
