/* Navbar.css */
.navbar {
    background-color: #333; /* Pozadina navigacijske trake */
    padding: 10px;
    width: 100%; /* Osigurajte da zauzima cijelu širinu */
    box-sizing: border-box; /* Uključuje padding u ukupnu širinu */
  }
  
  .navbar-content {
    display: flex;
    margin-left: 800px;
    justify-content: flex-end; /* Pomaknite sadržaj na desnu stranu */
    align-items: center; /* Vertikalno centriranje */
  }
  
  .nav-link {
    color: #a5a5a5; /* Boja teksta */
    background: none;
    border: none;
    margin-left: 20px; /* Razmak između linkova */
    font-size: 16px; /* Veličina fonta */
    cursor: pointer;
  }
  .filter-input{
    color: #fff; /* Boja teksta */
    background: none;
    border: none;
    margin-left: 20px; /* Razmak između linkova */
    font-size: 16px; /* Veličina fonta */
    cursor: pointer;
  }
  
  .nav-link:hover {
    text-decoration:underline; /* Efekt pri hoveru */
  }
  
  .filter-input {
    margin-left: 20px; /* Razmak između filtera i linkova */
    padding: 5px;
    font-size: 16px;
  }
  @media (max-width: 1500px) {
    .navbar-content {
      margin-left: 500px; /* Smanjenje margin-left za manje ekrane */
    }
  }
  
  @media (max-width: 1200px) {
    .navbar-content {
      margin-left: 400px; /* Daljnje smanjenje margin-left */
    }
  }
  
  @media (max-width: 992px) {
    .navbar-content {
      margin-left: 200px; /* Daljnje smanjenje margin-left */
    }
  }
  
  @media (max-width: 768px) {
    .navbar-content {
      margin-left: 100px; /* Daljnje smanjenje margin-left */
    }
  }
  
  @media (max-width: 480px) {
    .navbar-content {
      margin-left: 0; /* Ukloni margin-left za vrlo male ekrane */
      gap: 10px; /* Manji razmak između elemenata */
      padding: 0 10px; /* Dodaj malo paddinga sa strane na manjim ekranima */
    }
  
    .nav-link, .filter-input {
      font-size: 10px;
       /* Smanji veličinu fonta na vrlo malim ekranima */
    }
}  